.card{
display: flex;
flex-direction: column;
gap: 8px;
background-color: #09c5bc;
width: 300px;
height: auto;
border: 3px solid #051053;padding: 20px;
border-radius: 8px;
   
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(76, 86, 179) , rgb(67, 9, 105));
  height: 100vh;
}

.btn, 
.link{
padding:0.7em 1.7em;
border-radius:0.2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:400;
color:#FFFFFF;
background-color:#042f52;
border-radius: 8px;
cursor: pointer;
box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
text-align:center;
margin: 8px;

}



.link{
   background-color:#3d60d3; 
       
}

a{
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
    color: royalblue;
    width: 100%;
    text-align: right;
}
h1{
    margin: 0 auto;
    color: #eee;
    font-family: sans-serif;
    /* margin-top: -20px; */
}
input{
    height: 30px;
    border: 1px solid #09c5bc;
    border-radius: 6px;
    margin: 2px 18px;
    text-decoration: none;
    
}
img{
    width: 100px;
    margin: 0px auto;
    /* background-color: #3369ff; */
}
.logo2{
    width: 50px;
    padding: 30px;
    margin: 0 auto;
}

